mixin video(video)
    article
        a(href=`/videos/${video.id}`).video-aside-mixin
            div.video-aside-mixin__thumb
                img(src=`${isHeroku ? video.thumbnailUrl : `/${video.thumbnailUrl}`}`, crossorigin)
            section.video-aside-mixin__data
                div.video-aside-mixin__info
                    span.video-aside-mixin__title=video.title
                    div.video-aside-mixin__meta
                        p.video-aside-mixin__owner=video.owner.name
                        span 조회수 #{video.meta.views} • 
                        span=new Date(video.createdAt).toLocaleDateString("ko-kr", {weekday: 'long', year: 'numeric', month: 'long', day: 'numeric'})