mixin video(video)
    article
        a(href=`/videos/${video.id}`).video-aside-mixin
            section.video-aside-mixin__thumb(style=`background-image:url(${video.thumbnailUrl});background-size:cover;background-position:center;`)
            section.video-aside-mixin__data
                div.video-aside-mixin__info
                    span.video-aside-mixin__title=video.title
                    div.video-aside-mixin__meta
                        p.video-aside-mixin__owner=video.owner.name
                        span 조회수 #{video.meta.views} • 
                        span=new Date(video.createdAt).toLocaleDateString("ko-kr", {weekday: 'long', year: 'numeric', month: 'long', day: 'numeric'})