mixin video(video)
    a(href=`/videos/${video.id}`).video-mixin
        article
            div.video-mixin__thumb
                img(src=video.thumbnailUrl, crossorigin)
            div.video-mixin__data
                div.video-mixin__avatar
                    if video.owner.avatarUrl === undefined
                        div(width="50", height="50").video-mixin__avatar-img
                            i.fas.fa-user
                    else
                        img(src=`${video.owner.avatarUrl}`, crossorigin, width="50", height="50").video-mixin__avatar-img
                div.video-mixin__info
                    span.video-mixin__title=video.title
                    div.video-mixin__meta
                        p.video-mixin__owner=video.owner.name
                        span 조회수 #{video.meta.views} • 
                        span=new Date(video.createdAt).toLocaleDateString("ko-kr", {weekday: 'long', year: 'numeric', month: 'long', day: 'numeric'})