mixin video(video)
    a(href=`/videos/${video.id}`).video-mixin
        div.video-mixin__thumb(style=`background-image:url(/${video.thumbnailUrl});background-size:cover;background-position:center;`)
        div.video-mixin__data
            div.video-mixin__avatar
                img(src=`/${video.owner.avatarUrl}`, alt="avatar", width="50", height="50")
            div.video-mixin__info
                span.video-mixin__title=video.title
                div.video-mixin__meta
                    p.video-mixin__owner=video.owner.name
                        //-a(href=`/users/${video.owner._id}`) #{video.owner.name}
                    span 조회수 #{video.meta.views} • 
                    span 몇 분 전