extends base

block content
    div#videoContainer
        video(src=`/${video.fileUrl}`, controls)
        div#videoControls.videoControls
            div.videoControls__play
                span#play.videoControls__playBtn
                    i.fas.fa-play
                div.videoControls__time
                    span#currentTime 00:00
                    span  / 
                    span#totalTime 00:00
            input(type="range",step="1", value="0", min="0")#timeline.videoControls__timeline
            div.videoControls__volume
                input(type="range",step="0.1", value=0.5, min="0", max="1")#volume
                span#mute
                    i.fas.fa-volume-up
            div
                span#fullScreen
                    i.fas.fa-expand


//-1초 씩 넘기게 stet="1", min="0"초(s) 이지만 max=비디오 길이(s) 이기 때문에 max는 html에서는 안 적어도 된다.

    //-
        div
            p=video.description
            small=video.createdAt
        div
            img(src=`/${video.owner.avatarUrl}`, alt="avatar", width="50", height="50")
            small Uploaded by 
                a(href=`/users/${video.owner._id}`) #{video.owner.name}
        if String(video.owner._id) === loggedInUser._id
            a(href=`${video.id}/edit`) Edit Video &rarr;
            br
            a(href=`${video.id}/delete`) Delete Video &rarr;

block scripts
    script(src="/static/js/videoPlayer.js")