extends base

block content
    section.video__watch
        article#videoContainer(data-id=video._id)
            video(src=`/${video.fileUrl}`)
            div#videoControls.videoControls
                input.videoControls__range(type="range",step="1", value="0", min="0")#timeline
                div.videoControls__btn
                    div.videoControls__btn-main
                        div.videoControls__play
                            span#play.videoControls__playBtn
                                i.fas.fa-play
                        div.videoControls__volume
                            span#mute
                                i.fas.fa-volume-up
                            input(type="range",step="0.1", value=0.5, min="0", max="1")#volume
                        div.videoControls__time
                            span#currentTime 00:00
                            span  / 
                            span#totalTime 00:00
                    div.videoControls__btn-sub
                        span#fullScreen
                            i.fas.fa-expand

        article.video__data
            h1.video__title=video.title
            section.video__info-video
                p 조회수 #{video.meta.views} • 
                p.video__createdAt=new Date(video.createdAt).toLocaleDateString("ko-kr", {weekday: 'long', year: 'numeric', month: 'long', day: 'numeric'})
            section.video__info-owner
                div.video__owner-image
                    img(src=`/${video.owner.avatarUrl}`, alt="avatar", width="50", height="50")
                small.video__owner
                    a(href=`/users/${video.owner._id}`) #{video.owner.name}
            if String(video.owner._id) === loggedInUser._id
                a(href=`${video.id}/edit`) Edit Video &rarr;
                br
                a(href=`${video.id}/delete`) Delete Video &rarr;
        if loggedIn
            div.video__add-comments
                form.video__comments-form#commentForm
                    textarea(cols="30", rows="10", placeholder="Write a comment...")
                    button Add Comment
        article.video__comments-section
        div.video__comments
            ul
                each comment in video.comments.reverse()
                    li.video__comment(data-id=comment._id)
                        div.video__comment-content
                            i.fas.fa-comment
                            span  #{comment.text}
                        if String(comment.owner._id) === loggedInUser._id
                            i.video__comment-delete.fas.fa-trash-alt

block scripts
    script(src="/static/js/videoPlayer.js")
    if loggedIn
        script(src="/static/js/commentSection.js")